.5_13 { 
	overflow:hidden;
}.e5_13 { 
	background-color:rgba(39.35500502586365, 20.18749974668026, 63.75, 1);
	width:1219px;
	height:824px;
	position:absolute;
}.e5_14 { 
	transform: rotate(0.09618489889434796deg);
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:591.9498901367188px;
	height:456.59539794921875px;
	position:absolute;
	left:-0.2333984375px;
	top:-1px;
	background-image:url(images/johnwick_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e6_17 { 
	color:rgba(0, 0, 0, 0.9900000095367432);
	width:329px;
	height:81px;
	position:absolute;
	left:729px;
	top:-1px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e6_21 { 
	color:rgba(80.59808313846588, 25.526559054851532, 197.62499392032623, 1);
	width:355px;
	height:46px;
	position:absolute;
	left:460px;
	top:457px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e6_22 { 
	background-color:rgba(0, 0, 0, 0.49000000953674316);
	width:1113px;
	height:321px;
	position:absolute;
	left:81px;
	top:503px;
}.e6_24 { 
	color:rgba(255, 255, 255, 1);
	width:992px;
	height:336px;
	position:absolute;
	left:26px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e6_19 { 
	color:rgba(0, 0, 0, 1);
	width:553px;
	height:366px;
	position:absolute;
	left:636px;
	top:65px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e12_26 { 
	width:100px;
	height:100px;
	position:absolute;
	left:834px;
	top:810px;
}